[<%= @name %>]
<% if @prefix %>
prefix = <%= @prefix %>
<% end %>
<% if @user %>
user = <%= @user %>
<% else %>
user = www-data
<% end %>
<% if @group %>
group = <%= @group %>
<% else %>
group = www-data
<% end %>
;listen
listen = <%= @listen %>
<% if @listen_backlog %>
listen.backlog = <%= @listen_backlog %>
<% end %>
<% if @listen_allowed_clients %>
listen.allowed_clients = <%= @listen_allowed_clients %>
<% end %>
<% if @listen_owner %>
listen.owner = <%= @listen_owner %>
<% end %>
<% if @listen_group %>
listen.group = <%= @listen_group %>
<% end %>
<% if @listen_mode %>
listen.mode = <%= @listen_mode %>
<% end %>
;pm
<% if @pm == 'static' %>
pm = static
pm.max_children = <%= @pm_max_children %>
<% elsif @pm == 'dynamic' %>
pm = dynamic
pm.max_children = <%= @pm_max_children %>
pm.min_spare_servers = <%= @pm_min_spare_servers %>
pm.max_spare_servers = <%= @pm_max_spare_servers %>
    <% if @pm_start_servers %>
pm.start_servers = <%= @pm_start_servers %>
    <% end %>
<% elsif @pm == 'ondemand' %>
pm = ondemand
pm.max_children = <%= @pm_max_children %>
	<% if @pm_process_idle_timeout %>
pm.process_idle_timeout = <%= @pm_process_idle_timeout %>
	<% end %>
<% else %>
pm = static
pm.max_children = 10
<% end %>
<% if @pm_max_requests %>
pm.max_requests = <%= @pm_max_requests %>
<% end %>
<% if @pm_status_path %>
pm.status_path = <%= @pm_status_path %>
<% end %>
;ping
<% if @ping_path %>
ping.path = <%= @ping_path %>
	<% if @ping_response %>
ping.response = <%= @ping_response %>
	<% end %>
<% end %>
;access
<% if @access_log %>
access.log = <%= @access_log %>
	<% if @access_format %>
access.format = <%= @access_format %>
	<% end %>
<% end %>
<% if @request_terminate_timeout %>
request_terminate_timeout = <%= @request_terminate_timeout %>
<% end %>
<% if @request_slowlog_timeout %>
request_slowlog_timeout = <%= @request_slowlog_timeout %>
	<% if @slowlog %>
slowlog = <%= @slowlog %>
	<% else %>
slowlog = log/$pool.log.slow
	<% end %>
<% end %>
<% if @rlimit_files %>
rlimit_files = <%= @rlimit_files %>
<% end %>
<% if @rlimit_core %>
rlimit_core = <%= @rlimit_core %>
<% end %>
<% if @chroot %>
chdir = <%= @chdir %>
<% end %>
<% if @catch_workers_output %>
catch_workers_output = <%= @catch_workers_output %>
<% end %>
<% if @security_limit_extensions %>
security.limit_extensions = <%= @security_limit_extensions %>
<% end %>
<% if @env %>
    <% @env.each do |k,v| %>
env[<%= k %>] = <%= @env[i] %>
    <% end %>
<% end %>
<% if @php_admin_value %>
	<% @php_admin_value.each do |k,v| %>
php_admin_value[<%= k %>] = <%= v %>
	<% end %>
<% end %>
<% if @php_admin_flag %>
	<% @php_admin_flag.each do |k,v| %>
php_admin_flag[<%= k %>] = <%= v %>
	<% end %>
<% end %>
<% if @php_flag %>
	<% @php_flag.each do |k,v| %>
php_flag[<%= k %>] = <%= v %>
	<% end %>
<% end %>
<% if @php_value %>
	<% @php_value.each do |k,v| %>
php_value[<%= k %>] = <%= v %>
	<% end %>
<% end %>